html {
    background-color: #efefef;
    font-family: "Montserrat", sans-serif;
    scroll-padding-top: 90px;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

.expanded {
    display: unset;
}


html.dark {
    background-color: #222222;
    color: #fff;

    & a {
        color: white;

        &:hover {
            color: #ff9776;
            transition: color 0.3s ease-out;
        }

    }
}

.dark .nav-links a {
    color: #fff;
}

a {
    color: black
}

a {
    &:hover {
        color: #ff9776;
        transition: color 0.3s ease-out;
    }
}