html {
    background-color: #efefef;
    font-family: 'Inter Variable', sans-serif;
    scroll-padding-top: 90px;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

.expanded {
    display: unset;
}


html.dark {
    background-color: #191919;
    color: #fff;

    & a {
        color: white;

        &:hover {
            color: #ff9776;
            transition: color 0.3s ease-out;
        }

    }

    & .markdown-alert {
        background-color: #2a2a2a;
    }
}

.dark .nav-links a {
    color: #fff;
}

a {
    color: black;

    &:hover {
        color: #ff9776;
        transition: color 0.3s ease-out;
    }
}



/* Markdown alerts */

.markdown-alert {
    padding-top: 4px;
    margin-left: 16px;
    background-color: #eae7e7;
    border-radius: 0px 8px 8px 0px;
    box-shadow: rgba(0, 0, 0, 0.357) 1.6px 1.6px 3.2px 0px;

}

.markdown-alert-title {
    margin-top: 7px;
}