---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Projects";
const htmlTitle = "Projects | Nicolas Velay";
---

<BaseLayout pageTitle={pageTitle} htmlTitle={htmlTitle}>
    <h1>In construction</h1>
</BaseLayout>
