---
import { Icon } from "astro-icon/components";
---

<a href="/" class="container">
    <Icon class="icon" name="logo" width={30} height={30} />
    Nicolas
</a>
<style>
    a {
        font-size: 28px;
        font-weight: 600;
        text-decoration: none;
        &:hover {
            color: #ff9776;
            transition: color 0.3s ease-out;
        }
    }
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }
</style>
