---
const { link, icon } = Astro.props;
import { Icon } from "astro-icon/components";
---

<a href={link} target="_blank">
    <Icon class="icon" name={icon} width={30} height={30} />
</a>
<style>
    a {
        color: black;
    }
    :global(.dark) a {
        color: white;
    }
    a:hover {
        color: #ff9776;
        transition: color 0.3s ease-out;
    }
</style>
