---
import BaseLayout from "./BaseLayout.astro";
const { title, pubDate, music, minutesRead } = Astro.props.frontmatter;
---

<BaseLayout pageTitle={title}>
    <div class="info">
        <p>
            {
                pubDate.toLocaleDateString("en-US", {
                    month: "short",
                    day: "numeric",
                    year: "numeric",
                })
            }
        </p>
        |
        <p>{minutesRead}</p>
        |
        <a href={music} target="_blank">Theme</a>
    </div>
    <slot />
</BaseLayout>
<style>
    a {
        text-decoration: none;
    }

    .info {
        display: flex;
        gap: 8px;
        align-items: center;
        margin-top: -30px;
    }
</style>
