---
import BaseLayout from "./BaseLayout.astro";
import TableOfContent from "../components/TableOfContent.astro";
const { title, pubDate, theme } = Astro.props.frontmatter;
const { minutesRead, headings } = Astro.props;
---

<BaseLayout pageTitle={title}>
    <TableOfContent headings={headings} />
    <div class="info">
        <p>
            {
                pubDate.toLocaleDateString("en-US", {
                    month: "short",
                    day: "numeric",
                    year: "numeric",
                })
            }
        </p>
        |
        <p>{minutesRead}</p>
        |
        <a href={theme} target="_blank">Theme</a>
    </div>
    <article id="article">
        <slot />
    </article>
</BaseLayout>
<style>
    a {
        text-decoration: none;
    }
    .info {
        display: flex;
        gap: 8px;
        align-items: center;
        margin-top: -30px;
    }
</style>
